@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --fontsize: #1e90ff;
  --white: #ffffff;
}

button {
  padding: 10px 20px;
  margin-top: 30px;
  font-size: 2em;
  color: #fff;
  background-color: rgba(0, 72, 255, 0.6);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);;
}

.welcome-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
  color: #333;
}

.welcome-screen h1 {
  font-size: 2em;
}

.welcome-screen p {
  font-size: 1em;
}

.rulestext {
  font-size: 1em;
}

.welcome-screen ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.welcome-screen ul li {
  padding: 10px;
  background-color: rgba(179, 196, 237, 0.6);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: fit-content;
  font-size: 0.5em;
}

.welcome-screen ul li::before {
  content: "\00BB";
  color: rgba(0, 72, 255, 0.6);
  font-size: 1.2em;
  margin-right: 10px;
}

.welcome-screen .link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.welcome-screen .link:visited {
  color: #fff;
}

.game {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  text-align: center;
}

.game p {
  font-size: 1em;
}

.game button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1em;
  color: #fff;
  background-color: rgba(0, 72, 255, 0.6);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.game .grid {
  display: grid;
  gap: 5px;
}

.square {
  height: 70px;
  width: 70px;
  margin: 10px;
  border-radius: 10px;
  background-color: #7d7d7d;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  
}

.square:hover {
  opacity: 0.75;
  transform: scale(1.1);
}

